[submodule "vim/vim/pack/git-plugins/start/fzf.vim"]
	path = vim/vim/pack/git-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/vim/pack/git-plugins/start/rust.vim"]
	path = vim/vim/pack/git-plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/vim/pack/git-plugins/start/vim-cmake"]
	path = vim/vim/pack/git-plugins/start/vim-cmake
	url = https://github.com/vhdirk/vim-cmake.git
[submodule "vim/vim/pack/git-plugins/start/vim-cppman"]
	path = vim/vim/pack/git-plugins/start/vim-cppman
	url = https://github.com/gauteh/vim-cppman.git
[submodule "vim/vim/pack/git-plugins/start/vim-fugitive"]
	path = vim/vim/pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
